/out/
/work/

/src/Makefile

/simulations/results*
/simulations/Makefile
/simulations/nesting
/simulations/nesting_dbg
/simulations/*/results*
/simulations/*/*results*

/.settings/

.oppfeaturestate
.cmdenv-log
.tkenvlog
.qtenvrc

*.vci
*.so
*.exe
*_m.h
*_m.cc
*.sca
*.vec
*.elog
*.anf
.idea

/doc/build
